.toyota {
    text-transform: uppercase;
    color: #F20C29;
    font-size: 35px;
    font-family: arial;
    font-weight: bold;
}

.facebook {
    color: #4167B1;
    font-size: 50px;
    font-family: arial;
    font-weight: bold;
}

.fedex {
    font-family: sans-serif;
}

.fed {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -11px;
    color: #2B2179;
}

.ex {
    font-size: 84px;
    font-weight: bold;
    letter-spacing: -11px;
    color: #E8532E;
}

.express {
    display: flex;
    align-self: flex-end;
    font-size: 30px;
    color: #2B2179;
    position: relative;
    left: 113px;
    top: -17px;
}